@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: auto;
  color: black;
}

.layout {
  /* background-color: rgb(216, 216, 216); */
}

@media (width <= 1024px) {
  .layout {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
  }
}
@media (width > 1024px) {
  .layout {
    margin: auto 200px;
  }
}

@media (width >= 1280px) {
  .layout {
    margin: auto 200px;
  }
}

@media (width >= 1536px) {
  .layout {
    margin: auto 400px;
  }
}
